.accordionCard1{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    background-color: #3f51b5 !important;
}
.accordionLink1{
    color: white !important;
    font-size: 18px;
}
#titoloP1{
    font-weight: bold;
}

h5{
    color:black !important;
}